html, body{
    margin: 0;
    padding: 0;
    margin: 0;
    font-family:verdana;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    padding: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  